html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}


/* LOG IN PAGE STARTS HERE */

.site-title {
    font-size: 100px;
}

.login-global-container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/eddys.jpg');
    /* background-image: url("../assets/images/login-bg.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-body-container {
    /* background-color: brown; */

    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.left-body-container {
    width: 400px;
    /* background-color: blue; */
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 20%;
}

.right-body-container {
    width: 400px;
    /* height: 300px; */
    /* background-color: bisque; */
    text-align: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    padding: 5%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: .9;
}

.signup-form-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    /* height: 100%; */
    padding: 25px;
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: .9;
}

.form-group {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

    /* align-items: center; */
}

.form-control {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.form-group>label {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
}

.li-btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    align-self: center;

}

#create-link {
    color: white;
    font-size: 18px;
    cursor: pointer;
    align-self: center;
    width: fit-content;
}

.x-icon {
    height: fit-content;
    width: fit-content;
    align-self: flex-end;
    margin-bottom: 25px;
    cursor: pointer;
}


/* LOG IN PAGE ENDS HERE */


/* HOME PAGE STARTS HERE */

.home-global-container {
    /* background-color: red; */
    /* background-color: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); */
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;

}

.home-body-container {
    /* background-color: rgb(134, 96, 45); */

    background-color: rgba(0, 0, 0, 0.062);
    height: 100%;
    width: 70%;
    padding-bottom: 10%;
}

.header-container {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-name-container {
    display: flex;
    margin-left: 10px;

}

.logo-container {
    height: 90%;
    width: fit-content;
}

.header-logo {
    height: 100%;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.header-menu>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-menu>div>a {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.home-image-container {
    background-image: url('../assets/images/home-image.jpg');
    height: 450px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}



.restaurants-list-container {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    /* height: 1000px; */
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.restaurant-list-item {
    cursor: pointer;
    margin: 1%;
    margin-top: 50px;
    background-color: white;
    /* padding: 5px; */
    height: 300px;
    width: 250px;
    display: flex;
    border-style: solid;
    border-width: thin;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.restaurant-image {
    height: 200px;
    width: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item-info-container {
    /* background-color: bisque; */
    height: fit-content;
}


/* HOME PAGE ENDS HERE */


/* RESTAURANT PAGE STARTS HERE */



.restaurant-image-container {
    /* background-image: url(../assets/images/rest-1.jpg); */
    
    
    height: 500px;
    width: auto;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: solid;
    border-width: thin;
    overflow: hidden;
}

.restaurant-banner-image    {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-width: 100%;
}

.restaurant-info-container {
    /* background-color: darkgreen; */
    /* height: 50px; */
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    padding: 1%;
}


.restaurant-info-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.restaurant-info-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.review-btn {
    font-weight: bold;
    width: 60px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}


.restaurant-reviews-container {
    /* background-color: rgb(0, 225, 255); */
    /* height: 1000px; */
    margin: 10%;
}

.restaurant-review {
    background-color: rgba(0, 0, 0, 0.1);
    /* height: 200px; */
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    width: 100%;
    margin-bottom: 10%;
    padding: 20px;
}

.user-profile-review {
    display: flex;
    margin-bottom: 20px;
}

.user-profile-review-icon {
    background-color: gold;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.user-profile-review-icon > img {
    height: 100%;
    width: 100%;
}


.user-profile-review-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.user-rating-review {
    color: rgb(255, 189, 22);
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* .user-text-review {

} */



/* PROFILE PAGE STARTS HERE */


.profile-picture-container {
    background-color: rgba(46, 48, 46, 0.349);
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin: 5%;
    border-radius: 50%;
}


.profile-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-edit-btn {
    align-self: center;
    margin-right: 10%;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.user-profile-info {
    margin-left: 10%;
}


.user-reviews-container {
    /* background-color: rgb(0, 225, 255); */
    /* height: 1000px; */
    margin: 10%;
}

.user-review {
    background-color: rgba(0, 0, 0, 0.1);
    /* height: 200px; */
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    width: 100%;
    margin-bottom: 10%;
    padding: 20px;
}

.restaurant-profile-review {
    display: flex;
    margin-bottom: 20px;
}

.restaurant-profile-review-icon {
    background-color: gold;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.restaurant-profile-review-icon > img {
    height: 100%;
    width: 100%;
}

.restaurant-profile-review-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.restaurant-rating-review {
    color: rgb(255, 189, 22);
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}




/* ADMIN PAGE STARTS HERE */


.admin-global-container {
    /* background-color: red; */
    /* background-color: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.admin-header-container {
    background-color: rgba(0, 0, 0, 0.1);
    /* background-color: aqua; */
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.user-card-container {
    margin-top: 3%;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.user-card {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 50%;
    display: flex;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;

}

.user-card-image {
    overflow: hidden;
    height: 100px;
    width: 100px;
    background-color: chartreuse;
    border-radius: 50%;
}

.user-card-image > img {
    width: 100%;
    height: 100%;
    align-self: center;
}

.user-card-info {
    padding-left: 5%;
}




.admin-reviews-container {
    margin-top: 3%;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.admin-reviews {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 50%;
    display: flex;
    margin: 1%;
    padding: 1%;
    justify-content: space-between;

}



.admin-reviews-info {
    padding-left: 5%;
}


.add-form-container {
    margin-top: 5%;
    padding: 2%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 50%;
    display: flex;
    flex-direction: column;
}

#rest_img_upload {
    align-self: center;
    width: 100px;
    height: 100px;
}



.edit-form-container {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -250px;
    display: none;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: .9;
}


.edit-form-container > button {
    align-self: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.edit-form-container > textarea {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}


.profile_image_round{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.review-form-container {
    width: 100%;
    display: none;
    justify-content: center;
    margin-top: 5%;
}

.review-form {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;

    border-radius: 10px;

    
}

.review-form > textarea {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-stars-reveiw {
    margin-bottom: 10px;
}

.review-star {
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.label-x {
    display: flex;
    justify-content: space-between;
}

.label-x > p {
    cursor: pointer;
}


