html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}


/* LOG IN PAGE STARTS HERE */

.site-title{
    font-size: 100px;
}

.login-global-container {
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/login-bg.jpg');
    /* background-image: url("../assets/images/login-bg.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-body-container {
    /* background-color: brown; */
    
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.left-body-container {
    width: 400px;
    /* background-color: blue; */
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 20%;
}

.right-body-container {
    width: 400px;
    /* height: 300px; */
    /* background-color: bisque; */
    text-align: center;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    padding: 5%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: .9;
}

.signup-form-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    /* height: 100%; */
    padding: 25px;
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: .9;
}

.form-group{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    
    /* align-items: center; */
}

.form-control{
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.form-group > label {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
}

.li-btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    align-self: center;
    
}

#create-link{
    color: white;
    font-size: 18px;
    cursor: pointer;
    align-self: center;
    width: fit-content;
}

.x-icon{
    height: fit-content;
    width: fit-content;
    align-self: flex-end;
    margin-bottom: 25px;
    cursor: pointer;
}


/* LOG IN PAGE ENDS HERE */


/* HOME PAGE STARTS HERE */

.home-global-container {
    background-color: rgb(241, 187, 115);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;

}

.home-body-container {
    background-color: rgb(134, 96, 45);
    height: 100%;
    width: 70%;
}

.header-container {
    background-color: aqua;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo-name-container{
    display: flex;

}

.logo-container {
    height: 90%;
    width: fit-content;
}

.header-logo {
    height: 100%;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.header-menu > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-menu > div > a {
    font-size: 20px;
    font-weight: bold;
    color: rgb(134, 2, 2);
    text-decoration: none;
}

.profile-picture-container {
    background-color: coral;
    width: 250px;
    height: 250px;
    margin: 5%;
    border-radius: 50%;
}

.restaurants-list-container {
    background-color: rgb(118, 255, 152);
    width: 100%;
    /* height: 1000px; */
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
}

.restaurant-list-item {
    margin: 1%;
    margin-top: 50px;
    background-color: dodgerblue;
    padding: 5px;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.restaurant-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item-info-container {
    background-color: bisque;
    height: fit-content;
}


/* HOME PAGE ENDS HERE */


/* RESTAURANT PAGE STARTS HERE */



.restaurant-image-container{
    background-image: url(../assets/images/rest-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: auto;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
}

.restaurant-info-container {
    background-color: darkgreen;
    /* height: 50px; */
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    padding: 1%;
}


.restaurant-info-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.restaurant-info-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.review-btn {
    font-weight: bold;
    width: 60px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}


.restaurant-reviews-container {
    background-color: rgb(0, 225, 255);
    /* height: 1000px; */
    margin: 10%;
}

.restaurant-review{
    background-color: rgb(255, 127, 249);
    /* height: 200px; */
    width: 100%;
    margin-bottom: 10%;
    padding: 20px;
}

.user-profile-review {
    display: flex;
    margin-bottom: 20px;
}

.user-profile-review-icon {
    background-color: gold;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user-profile-review-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.user-rating-review {
    color: rgb(255, 189, 22);
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* .user-text-review {

} */









